.zoom {
  position: fixed;
  top: 150px;
  left: calc(50% - (96% / 2));

  box-sizing: border-box;
  max-width: 96%;
  margin: 0 auto;
  padding: 1%;

  background-color: #ffffff;
  box-shadow: 0 0 50px -10px black;
}

.zoom__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 780px) {
  .zoom {
    max-width: 80%;
  }
}

@media (min-width: 1120px) {
  .zoom {
    top: 60px;
    left: calc(50% - 850px/2);
    z-index: 100;

    max-width: 850px;
  }
}