/* span {
  background-color: #27ae60;
}

div span {
  background-color: #2980b9;
}

#floor .in-box {
  background-color: #34495e;
}

.in-box {
  background-color: #8e44ad;
}

#floor span {
  background-color: #c0392b;
}

div .in-box {
  background-color: #e67e22;
} */
