head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=pageTitle
    include icons.html
    link(rel="preload", href="fonts/open-sans-v17-latin_cyrillic-regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/open-sans-v17-latin_cyrillic-italic.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/open-sans-v17-latin_cyrillic-800.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/fira-code-v8-latin_cyrillic-regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/fira-code-v8-latin_cyrillic-700.woff2", as="font", crossorigin="anonymous")
    link(rel="stylesheet", href="libs/normalize.css")
    link(rel="stylesheet", href="css/style.min.css")