@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/fira-sans-v10-cyrillic_latin-regular.woff2")
      format("woff2"),
    url("../fonts/fira-sans-v10-cyrillic_latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/fira-sans-v10-cyrillic_latin-800.woff2") format("woff2"),
    url("../fonts/fira-sans-v10-cyrillic_latin-800.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 1200px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  background-image: url("../img/bg-pattern.png");
}

a {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #2e2e2e;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

td,
th {
  border: 1px solid black;
  align-items: center;
  padding: 0 20px;
}

th {
  padding: 25px 20px;
}

pre {
  font-size: 24px;
  line-height: 42px;
  padding: 5px;
  padding-top: 40px;
  background-color: rgb(255, 255, 255);
  border: 5px solid gray;
  border-top-width: 20px;
}

.table_pre {
  background: none;
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 42px;
  margin: 0;
}

.selector {
  color: rgb(190, 50, 50);
}
.properties {
  color: rgb(27, 57, 189);
}

.value {
  color: rgb(151, 76, 14);
}
.marker {
  color: blue;
  font-weight: bold;
}

.list-formatter {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: border-box;
  padding: 0 70px;
  padding-top: 1px;
  padding-bottom: 50px;

  width: 1140px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px 10px rgb(216, 216, 216), inset 0 50px 0 0 gray;
  min-height: calc(100vh - 100px);
}

.page-content__text {
  /* text-indent: 15px; */
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 35px;
}

.page-header {
  padding-top: 35px;

  text-align: center;
  margin-bottom: 70px;
}

.page-header__title {
  line-height: 50px;
  font-size: 64px;
  color: #2e2e2e;
  margin-bottom: 75px;
}

.main-menu__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-menu__item {
  margin-right: 7px;
  margin-bottom: 10px;
}

.main-menu__link {
  display: block;
  padding: 10px 23px;
  background-color: rgb(219, 219, 219);
  box-shadow: 0 5px 0 0 rgb(209, 209, 209);
  color: rgb(71, 71, 71);
  border-radius: 8px;
}

.main-menu__link:hover,
.main-menu__link:focus {
  background-color: rgb(122, 122, 122);
  color: rgb(228, 228, 228);
  box-shadow: 0 5px 0 0 rgb(61, 61, 61);
}

.main-menu__link:active {
  box-shadow: inset 0 5px 0 0 rgb(61, 61, 61);
}

.current,
.current:hover,
.current:focus,
.current:active {
  background-color: rgb(122, 122, 122);
  color: rgb(228, 228, 228);
  box-shadow: inset 0 5px 0 0 rgb(61, 61, 61);
}

.article {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 0 20px;
}

.article__title {
  margin-top: 35px;
  line-height: 60px;
  text-align: center;
  font-size: 60px;
}

.page-content__text--rule {
  font-size: 24px;
  line-height: 42px;
  padding: 20px;
  background-color: rgb(228, 228, 228);
  border-left: 15px solid gray;
}

.page-content__text--rule b {
  font-size: 30px;
}
.page-content__text--select-under {
  text-decoration: underline;
  font-weight: 800;
}

.page-content__text--select {
  font-weight: 800;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  background-color: gray;
  box-sizing: border-box;
  padding: 0 70px;
  padding-top: 45px;

  width: 1140px;
  margin: 0 auto;
  color: white;
}

.page-footer__copyright {
  filter: saturate(0);
}

.page-footer__copyright:hover,
.page-footer__copyright:focus {
  filter: saturate(1);
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__link {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: rgb(177, 177, 177);
  background-repeat: no-repeat;
  background-position: center;
}

.page-footer__link--vk {
  background-image: url("../img/vk-icon.svg");
  background-size: 50%;
}

.page-footer__link--vk:hover,
.page-footer__link--vk:focus {
  background-color: #4680c2;
}

.page-footer__link--instagram {
  background-image: url("../img/insta-icon.svg");
  background-size: 50%;
}

.page-footer__link--instagram:hover,
.page-footer__link--instagram:focus {
  background: #d6249f;
  background: url("../img/insta-icon.svg"),
    radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%, 100%;
}
