
@font-face {
  font-weight: 400;
  font-family: "Roboto Slab";
  font-style: normal;

  src: url("../fonts/roboto-slab-v10-cyrillic_latin-regular.woff2") format("woff2"),
  url("../fonts/roboto-slab-v10-cyrillic_latin-regular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto Slab";
  font-style: normal;

  src: url("../fonts/roboto-slab-v10-cyrillic_latin-700.woff2") format("woff2"),
  url("../fonts/roboto-slab-v10-cyrillic_latin-700.woff") format("woff");
}

body {
  min-width: 320px;

  font-weight: 400;
  font-size: normal;
  font-size: 24px;
  line-height: 1;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  box-sizing: border-box;
  padding: 0 25px;
}

.page-header {
  margin-bottom: 35px;

  font-size: 32px;
  color: #141414;
}

.page-header .container {
  padding-top: 1px;

  border-bottom: 5px solid #141414;
  box-shadow: 0 15px 10px -10px rgba(128, 128, 128, 1);
}

.page-header__title {
  width: 235px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

  font-size: 45px;
  line-height: 1;
  text-align: center;
}

.section-title {
  margin-bottom: 50px;

  font-size: 30px;
  text-align: center;
}

.page-main {
  min-height: 65.8vh;
}

.links__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.links__item {
  text-align: center;
  color: #4e4e4e;
}

.links__link {
  position: relative;

  color: #4e4e4e;
}

.links__item:hover,
.links__item:focus,
.links__link:hover,
.links__link:focus {
  color: #ff6347;
}

.links__item:active,
.links__link:active {
  color: rgb(170, 64, 45);
}

.page-footer {
  box-sizing: border-box;
  min-height: 5vh;
}

.page-footer .container {
  padding-top: 40px;

  border-top: 5px solid #141414;
  box-shadow: 0 -15px 10px -10px rgba(128, 128, 128, 1);
}

.page-footer__copy {
  font-size: 18px;
  text-align: center;
}

.page-footer__link {
  color: #505050;
  text-decoration: none;
}

.page-footer__link--tablet {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding-right: 60px;
    /* width: 1350px; */
    padding-left: 60px;
  }

  .page-header {
    margin-bottom: 100px;
  }

  .page-header .container {
    border-bottom: 10px solid #141414;
  }

  .page-header__title {
    width: auto;
    margin-top: 45px;
    margin-bottom: 55px;

    font-size: 55px;
  }

  .page-main {
    min-height: 55.4vh;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 55px;
  }

  .page-footer .container {
    padding-top: 35px;

    border-top: 10px solid #141414;
  }

  .links__link {
    font-size: 28px;
  }


  .page-footer__copy {
    font-size: 22px;
  }

  .page-footer__link--mobile {
    display: none;
  }
  .page-footer__link--tablet {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1350px) {
  .container {
    width: 1350px;
    margin: 0 auto;
    padding: 0;
  }

  .page-header__title {
    text-align: left;
  }

  .section-title {
    text-align: left;
  }

  .links__list {
    padding-left: 35px;
  }

  .links__item {
    text-align: left;
  }

  .links__link {
    padding-left: 25px;
  }

    .links__link::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;

    width: 10px;
    height: 10px;

    background-color: #4e4e4e;
    border-radius: 50%;
  }

  .page-footer__copy {
    font-size: 22px;
    text-align: left;
  }


}
