/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/open-sans-v17-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/open-sans-v17-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: italic;

  font-display: swap;
  src: url("../fonts/open-sans-v17-latin_cyrillic-italic.woff2") format("woff2"),
  url("../fonts/open-sans-v17-latin_cyrillic-italic.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Open Sans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/open-sans-v17-latin_cyrillic-800.woff2") format("woff2"),
  url("../fonts/open-sans-v17-latin_cyrillic-800.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Fira Code";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/fira-code-v8-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/fira-code-v8-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Fira Code";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/fira-code-v8-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/fira-code-v8-latin_cyrillic-700.woff") format("woff");
}

body {
  position: relative;

  min-width: 320px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  color: #353340;
  font-style: normal;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

code {
  display: inline-block;
  padding: 0 10px;

  font-weight: 400;
  font-family: "Fira Code", "Courier New", monospace;
  color: #253fb1;
  font-style: normal;
  word-break: break-all;

  background-color: #e8eaf7;
  border: 1px solid #a6b6fb;
  border-radius: 3px;
}
b {
  word-break: break-word;
}

figure {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

blockquote {
  font-style: italic;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.no-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}

.page-header__nav {
  padding-top: 20px;
}

.page-header__btn--open {
  display: block;
  width: 24px;
  height: 22px;
  margin-left: 10px;

  background-image: url("../images/burger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.site-menu {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 70px;

  text-align: center;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 25px -5px gray;
          box-shadow: 0 20px 25px -5px gray;
}

.site-menu__item {
  margin-bottom: 25px;
}

.site-menu__item--projects {
  margin-top: 80px;
}

.site-menu__item--btn {
  position: absolute;
  top: 19px;
  left: 16px;
}

.page-header__btn--close {
  display: block;
  width: 23px;
  height: 23px;
  margin-left: 10px;

  background-image: url("../images/close-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.site-menu__link {
  font-weight: 800;
  font-size: 16px;
  color: tomato;
}

.site-menu__link--current {
  color: #494859;
}

.site-menu__link--projects::after {
  content: ":";
}

.show {
  display: block;
}

.sub-menu {
  padding-top: 30px;
}

.sub-menu__item {
  margin-bottom: 20px;
}

.sub-menu__link {
  display: block;
  margin-bottom: 20px;
}

.sub-menu__link:first-of-type {
  font-weight: 800;
  font-size: 14px;
  color: tomato;
}

.sub-menu__link:last-of-type {
  font-weight: 800;
  font-size: 14px;
  color: #d9b779;
}

.page-content__title {
  font-size: 36px;
  line-height: 1.5;
}

.article__title {
  font-size: 24px;
}

.article__menu {
  margin-top: 50px;
  margin-bottom: 80px;
  padding-left: 30px;
}

.article__menu-item {
  margin-bottom: 20px;
}

.article__menu-link {
  color: #b46d0f;
}

.article__menu-link--external {
  font-weight: bold;
  color: tomato;
}

.article__item {
  padding-top: 10px;
}

.article__link {
  color: #b46d0f;
  text-decoration: underline;
}

.article__img {
  display: block;
  margin: 0 auto;
}

.article__file {
  color: #9903a7;
}

.article__inner-item {
  position: relative;
  position: relative;

  margin-bottom: 20px;
  padding-left: 20px;

  font-weight: 800;
}

.article__inner-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 4px;

  width: 10px;
  height: 2px;

  background-color: #b46d0f;
}

.up-btn {
  position: fixed;
  right: 20px;
  bottom: 10px;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70px;
  padding: 3px 7px;

  text-align: center;
  color: #d9b779;

  background-color: #494859;
  border: 1px solid #353340;
  border-radius: 5px;
}

.zoom {
  position: fixed;
  top: 150px;
  left: calc(50% - (96% / 2));

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  max-width: 96%;
  margin: 0 auto;
  padding: 1%;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 50px -10px black;
          box-shadow: 0 0 50px -10px black;
}

.zoom__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 14px;
  right: 14px;

  display: block;
  width: 100px;
  padding: 5px;

  font-weight: 800;
  font-size: 12px;
  color: #000000;

  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px -5px black;
          box-shadow: 0 0 20px -5px black;
}


@media (min-width: 780px) {
  .zoom {
    max-width: 80%;
  }
}

@media (min-width: 1120px) {
  .container {
    width: 980px;
  }
  .page-header__btn--open {
    display: none;
  }

  .site-menu {
    position: static;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    margin-top: 30px;
    /* left: auto;
    top: auto; */
    padding: 0;

    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .site-menu__item {
    margin-right: 25px;
    margin-bottom: 0;
  }

  .site-menu__item--btn {
    display: none;
  }

  .site-menu__link {
    font-weight: 800;
    font-size: 14px;
    color: tomato;
  }

  .site-menu__link--current {
    color: #494859;
  }

  .site-menu__item--projects {
    position: relative;

    margin: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    right: 0;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 370px;
    padding: 20px;

    background-color: #ffffff;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    visibility: hidden;
  }

  .sub-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }

  .sub-menu__item:last-of-type {
    margin-bottom: 0;
  }

  .sub-menu__link:first-of-type {
    margin-right: 20px;

    font-weight: 800;
    font-size: 14px;
    color: #ff6347;
  }

  .sub-menu__link:last-of-type {
    font-weight: 800;
    font-size: 14px;
    color: #d9b779;
  }

  .site-menu__link--projects {
    padding-left: 25px;
  }

  .site-menu__link--projects::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    left: 4px;
    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .site-menu__item--projects:hover .sub-menu,
  .site-menu__link--projects:focus + .sub-menu {
    visibility: visible;
  }


  .article {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .article__menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    -ms-flex-item-align: start;

        align-self: flex-start;
    width: 280px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
  }

  .article__list {
    width: 670px;
  }

  .up-btn {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    bottom: 20px;
    left: 0;
  }

  .zoom {
    top: 60px;
    left: calc(50% - 850px/2);
    z-index: 100;

    max-width: 850px;
  }

  .close {
    top: 20px;
    right: 30px;
  }

  .article__img {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .article__img:hover,
  .article__img:focus {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);

    -webkit-transition: -webkit-transform 0.3s;

    transition: -webkit-transform 0.3s;

    -o-transition: transform 0.3s;

    transition: transform 0.3s;

    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .article__link:hover,
  .article__link:focus {
    color: tomato;
  }

  .article__menu-link:hover,
  .article__menu-link:focus {
    text-decoration: underline;
  }

  .article__menu-link:active {
    opacity: 0.7;
  }

  .close {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .close:hover,
  .close:focus {
    color: white;

    background-color: tomato;

    -webkit-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;
  }

  .close:active {
    opacity: 0.8;
  }
}